*{
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}
body{
    background-color: rgb(51, 45, 45)  ;
}

.card{
    /* border: 2px solid red; */
    border-radius: 15px;
    width: 90%;
    max-width: 350px;
    margin: 80px auto ;
    padding: 40px;
    background-image: linear-gradient(-50deg, #375d1c, #262663);
}

.insidecard{
    /* border: 2px solid blue; */
        
}

.insidecard input{
    margin: 20px 6px 20px 20px;
    border-radius: 22px;
    padding: 10px;
    /* border: 2px solid black; */
}

.insidecard button img {
    height: 18px;
    width: 19px;

}
.insidecard button {
    border-radius: 23px;
    padding: 6px;
    margin-top: 5px ;
    border: 2px solid black;
}
.insidecard button:hover{
    cursor: pointer; 
}
/*class container2 for image*/
#conatiner2>img{
height: 60px;
width: 60px;
margin-left:38%;
}



/* class insidecard css end here and wheather class css start */

.weather{
    /* border: 2px solid blue; */
    text-align: center;
    font-weight: 700;
}
.weather>article:first-child{
    font-size: 30px;
    color: white;
    margin: 20px;
}
.weather>article:nth-child(2){
    color: white;
    margin-bottom: 20px;
    
}

/* class details css(humidity)============================================*/
.parent_details_wind{
    /* border: 2px solid yellow; */
    display: flex;
    justify-content: space-evenly;
    margin-top: 80px ;
}

.details{
    /* border: 2px solid red; */
    display: flex;
}
.details>span{
    /* border: 2px solid red; */
    margin-left: 5px;
  
}
.details>span>article{
    font-size: 15px;
    font-weight: 700;

}
.details>img{
    height: 30px;
    width: 30px;
}
/* class wind css (wind speed) */
.wind{
    /* border: 2px solid red; */
    display: flex;
}
.wind>span{
    margin-left: 5px;
}
.wind>span>article{
    font-size: 15px;
    font-weight: 700;
}
.wind>img{
    height: 30px;
    width: 30px;
}

/* responsive for search button  */
@media (max-width:380px) {
    .insidecard>input{
        width: 150px;
        margin: 20px 4px 20px 5px;
    }

    .parent_details_wind{
        flex-direction: column;
        gap: 20px;
    }
}





